{% extends 'base.html' %}
{% block title %}
    NGƯỜI BÁN GẦN ĐÂY
{% endblock %}
{% block content %}
 <!--TÌM KIẾM  -->
 <div class="input-group mt-3">
    <form class="form-inline">
        <input class="form-control col-10" type="search" placeholder="Tìm kiếm" aria-label="Search"/>
        <button id="search-button" type="button" class="btn btn-primary col-2" type="submit">
        <i class="fas fa-search"></i>
        </button>
    </form>
    
<div class="row align-items-center w-100 container-fluid">
      <div class="card mt-2" style="height: fit-content; width: 300px;">
          <div class="ml-2 row w-100 h-100">
              <div class="col float-left align-middle h-100">
                  <div class="d-flex flex-wrap align-items-center justify-content-center h-100">
                      <!-- LINK IMG -->
                      <img src="{{url_for('static', filename='images/carton.jpeg')}}"     
                      class="rounded img-thumbnail" alt="..." style="height: 100%;">
                  </div>
              </div>
              
              <div class="col float-right">
                  <div class="card-body p-0 text-center h-100" style="color: black !important;">
                    <h6 class="card-title m-0 mt-1">Nguyễn Văn A</h6>
                    <h6 class="card-title m-0">Trần Hưng Đạo</h6>
                    <a href="#" class="btn mt-1 btn-primary">Nhận</a>
                  </div>
              </div>

          </div>
      </div>
</div>
{% endblock %}